@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-sans antialiased;
    overflow-x: hidden;
    font-size: 90%; /* Reduce font size by 10% */
  }
  
  body {
    @apply font-body bg-black text-white;
    width: 100%;
    max-width: 100vw;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .bg-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
}
